# Emacs autosaves and backups
auto-save-list/
auto-saves/
backups/
*~
\#*\#

# Emacs Cache & History
eln-cache/
history
transient/history.el
recentf
savehist
tramp
projectile-bookmarks.eld
org-roam.db
custom.el

# Package Manager
elpaca/

# Local data/builds
eca/
tree-sitter/

# Runtime caches & generated state
url/
packwiz-browse/
